@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Helvetica;
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;

}

.navbar-dark .navbar-nav .nav-link.active {
  font-family: Helvetica;
  font-size: 1.3rem;
  color: #000000;
  font-weight: bold;
  border-bottom: 3px solid #5BABF4;
}

#navbar-menu {
  border-bottom: 1px solid #E1E8EE;
}

#navBarContainer {
  border-top: 5px solid #4C9FEB;
}

.ml-auto {
  .nav-item {
    .input-group {
      .icon {
        padding: 10px;
        font-size: 1.3rem;
      }
      .borderless {
        border: none;
        opacity: 0.4;
        font-family: Helvetica;
        font-size: 1rem;
        color: #000000;
        line-height: 22px;
      }
    }
  }
}